*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
form{
    width: 100%;
    display: flex;
    margin: 0 auto;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    background-color: #F4ECE0;
    & input{
        width: 40%;
        border-radius: 4px;
        background: #FFF;
        border: none;
        padding: 10px;
        text-indent: 50px;
    }
    & button{
        background-color: #FF733B;
        width: 10%;
        height: 5vh;
        color: white;
    }
    & textarea{
        outline: none;
        border: none;
        text-indent: 50px;

    }
}
.message{
    width: 96%;
    display: flex;
    margin: 0 auto;
    gap: 20px;
    padding: 40px;
    flex-direction: column;
    justify-content: center;
    background-color: #F4ECE0;
    border-radius: 15px;
    margin-bottom: 50px;
    & h2{
color: var(--typo-color-h-1-h-2-h-3, #1A0C06);
font-family: Nunito;
font-size: 30px;
font-style: normal;
font-weight: 800;
line-height: normal;

    }
    & span{
color: var(--Typo-Color-Titles, #8A7F7B);
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; 
    }
}
.inpts{
    width: 100%;
    display: flex;
    justify-content: space-between;
  
}