*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.subscripte{
    width: 40%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
  
}
.subscripte h2{
text-align: center;
}
.subscripte span{
color: #6B625E;
text-align: center;
font-family: Poppins;
font-size: 18px;
font-weight: 400;
}
.inp{
    width: 80%;
    margin: 0 auto;
    height: 10vh;
    display: flex;
   align-items: center;
   justify-content: center;
    background-color: white;
    box-shadow: 0px 30px 49px 0px rgba(156, 45, 0, 0.09);
}
.inp input[type="email"]{
    padding: 5px;
    border: none;
    outline: 0;
}
.inp button{
    width: 30%;
    color: white;
    padding: 8px;
    border: none;
    background-color: #FF733B;
}
@media (max-width: 768px){
   .inp{
    width: 150%;

   }
  
    }